*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    color: var(--dark-grayish-blue);
    line-height: 1.4;
    font-family: var(--font-family);
    font-size: var(--font-size);
}

ul, li {
    list-style: none;
}

img, svg {
    display: block;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
}

button {
    display: block;
    outline: none;
    background: transparent;
    border: none;
    cursor: pointer;
}